p {
  color: #222;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/


main {
  background: linear-gradient(130deg, rgba(254,131,173,0.5382528011204482) 0%, rgba(255,145,212,0.4374124649859944) 33%, rgba(174,91,241,0.6082808123249299) 100%);
}

.container {
  width: 1400px;
  padding: 60px 0;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 36px;
  letter-spacing: 0.1em;
  margin: 0 auto 10px;
}

.txt-msg {
  color: #fff;
  font-size: 21px;
  letter-spacing: 0.05em;
  margin: 0 auto 80px;
  position: relative;
}

.txt-msg::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 46px;
  left: 0;
  bottom: -20px;
  background-color: #fff;
}

.txt-name {
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.1em;
  margin: 0 auto 20px;
  text-align: center;
  font-weight: normal;
}

.box-detail {
  margin: 0 0 30px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list-item {
  width: 28%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(199, 74, 178, 0.37);
  backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  padding: 40px 30px;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
}

.list img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.img-member {
  margin: 0 auto 20px;
  text-align: center;
}

.list-detail {
  display: flex;
  margin: 0 auto 5px;
  letter-spacing: 0.05em;
  color: #222;
}

.list-detail dt {
  width: 80px;
  font-size: 15px;
  font-weight: bold;
}

.list-detail dd {
  width: calc(100% - 80px);
}

.btn {
  width: 300px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.8 );
  box-shadow: 0 8px 32px 0 rgba(197, 197, 197, 0.37);
  backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor: pointer;
  color: #999;
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
}

@media screen and (max-width: 1400px) {
  main {
    padding: 30px;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .list {
    flex-wrap: wrap;
  }
  .list-item {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  main {
    padding: 20px;
  }
  .list-item {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .list img {
    width: 250px;
    height: 250px;
  }

  .list-item {
    padding: 30px 20px;
  }
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
